In [15]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [2]:
# Input 
csv_file = "output_Air Bud Seventh Inning Fetch (2002).csv"
csv_file_ace_ventura = "https://raw.githubusercontent.com/moe221/diversity_in_cinema/moe221_prediction_pipeline/results/ace_ventura_results.csv"
csv_file_A_team = "output_The A-Team (2010).csv"

In [4]:
df_movie = pd.read_csv(csv_file_ace_ventura)
df_movie.head(20)

    Unnamed: 0  frame_number  face_id gender             race
0            0          31.0      0.0    Man            white
1            0          51.0      1.0    Man            white
2            0          71.0      2.0    Man            black
3            0          91.0      3.0    Man  latino hispanic
4            0         101.0      4.0    Man            asian
5            0         111.0      5.0    Man            asian
6            0         121.0      6.0    Man            asian
7            0         131.0      7.0    Man            white
8            0         141.0      8.0    Man  latino hispanic
9            1         141.0      9.0    Man           indian
10           2         141.0     10.0    Man            white
11           3         141.0     11.0    Man            white
12           0         151.0     12.0    Man            white
13           1         151.0     13.0  Woman  latino hispanic
14           2         151.0     14.0    Man            white
15           0         191.0     15.0    Man            white
16           0         221.0     16.0    Man  latino hispanic
17           0         231.0     17.0    Man            white
18           0         241.0     18.0    Man           indian
19           1         241.0     19.0    Man            white

In [21]:
df_movie[df_movie['race']=='middle eastern']

      Unnamed: 0  frame_number  face_id gender            race
24             0         281.0     24.0    Man  middle eastern
28             0         311.0     28.0    Man  middle eastern
30             0         351.0     30.0    Man  middle eastern
36             0         481.0     36.0    Man  middle eastern
49             1         691.0     49.0  Woman  middle eastern
...          ...           ...      ...    ...             ...
1100           2        9541.0   1100.0    Man  middle eastern
1106           8        9541.0   1106.0    Man  middle eastern
1112           1        9561.0   1112.0    Man  middle eastern
1119           0        9581.0   1119.0    Man  middle eastern
1137           3        9621.0   1137.0    Man  middle eastern

[96 rows x 5 columns]

In [5]:
genders = pd.unique(df_movie['gender'])
genders

array(['Man', 'Woman'], dtype=object)

In [6]:
races = pd.unique(df_movie['race'])
races

array(['white', 'black', 'latino hispanic', 'asian', 'indian',
       'middle eastern'], dtype=object)

In [35]:
df_movie_2 = df_movie.copy()

In [36]:
ohe = OneHotEncoder(sparse = False)

ohe.fit(df_movie_2[['gender']])

gender_encoded = ohe.transform(df_movie_2[['gender']])

df_movie_2['man'],df_movie_2['woman'] = gender_encoded.T

df_movie_2.head()

   Unnamed: 0  frame_number  face_id gender             race  man  woman
0           0          31.0      0.0    Man            white  1.0    0.0
1           0          51.0      1.0    Man            white  1.0    0.0
2           0          71.0      2.0    Man            black  1.0    0.0
3           0          91.0      3.0    Man  latino hispanic  1.0    0.0
4           0         101.0      4.0    Man            asian  1.0    0.0

In [23]:
ohe.categories_

[array(['asian', 'black', 'indian', 'latino hispanic', 'middle eastern',
        'white'], dtype=object)]

In [38]:
ohe.fit(df_movie_2[['race']])

race_encoded = ohe.transform(df_movie_2[['race']])

df_movie_2['asian'],df_movie_2['black'],df_movie_2['indian'],df_movie_2['latino hispanic'],df_movie_2['middle eastern'], df_movie_2['white']= race_encoded.T

df_movie_2.head(20)

,Unnamed: 0,frame_number,face_id,gender,race,man,woman,asian,black,indian,latino hispanic,middle eastern,white
0,0,31.0,0.0,Man,white,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0,51.0,1.0,Man,white,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0,71.0,2.0,Man,black,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0,91.0,3.0,Man,latino hispanic,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0,101.0,4.0,Man,asian,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
5,0,111.0,5.0,Man,asian,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
6,0,121.0,6.0,Man,asian,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
7,0,131.0,7.0,Man,white,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
8,0,141.0,8.0,Man,latino hispanic,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
9,1,141.0,9.0,Man,indian,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
10,2,141.0,10.0,Man,white,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
11,3,141.0,11.0,Man,white,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
12,0,151.0,12.0,Man,white,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
13,1,151.0,13.0,Woman,latino hispanic,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
14,2,151.0,14.0,Man,white,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
15,0,191.0,15.0,Man,white,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
16,0,221.0,16.0,Man,latino hispanic,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
17,0,231.0,17.0,Man,white,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
18,0,241.0,18.0,Man,indian,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
19,1,241.0,19.0,Man,white,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [71]:
df_movie_2 = df_movie_2.drop(columns='women_of_color')

,frame_number,face_id,gender,race,man,woman,asian,black,indian,latino hispanic,middle eastern,white
0,31.0,0.0,Man,white,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,51.0,1.0,Man,white,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,71.0,2.0,Man,black,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,91.0,3.0,Man,latino hispanic,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,101.0,4.0,Man,asian,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1171,9741.0,1171.0,Man,black,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1172,9741.0,1172.0,Man,black,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1173,9741.0,1173.0,Woman,white,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
1174,9761.0,1174.0,Man,asian,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1175,9771.0,1175.0,Man,white,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [72]:
df_movie_2

,frame_number,face_id,gender,race,man,woman,asian,black,indian,latino hispanic,middle eastern,white
0,31.0,0.0,Man,white,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,51.0,1.0,Man,white,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,71.0,2.0,Man,black,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,91.0,3.0,Man,latino hispanic,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,101.0,4.0,Man,asian,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1171,9741.0,1171.0,Man,black,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1172,9741.0,1172.0,Man,black,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1173,9741.0,1173.0,Woman,white,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
1174,9761.0,1174.0,Man,asian,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1175,9771.0,1175.0,Man,white,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

for index, row in df_movie_2.iterrows():
    if row['gender'] == 'woman' and row['race'] == 'white':
        row['women_of_color'] = 1

In [80]:
df_movie_2['women_of_color'] = df_movie_2['gender'] + ' ' + df_movie_2['race']

In [86]:
def woman_of_color(x):
    if 'Woman' in x and 'white' not in x:
        return 1
    return 0

In [89]:
df_movie_2['women_of_color'] = df_movie_2['women_of_color'].apply(woman_of_color)

In [90]:
df_movie_2['women_of_color'].unique()

array([0, 1])

In [91]:
df_movie_2['women_of_color'].sum()/len(df_movie_2)

0.031462585034013606

In [92]:
df_movie_2.head()

,frame_number,face_id,gender,race,man,woman,asian,black,indian,latino hispanic,middle eastern,white,women_of_color
0,31.0,0.0,Man,white,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
1,51.0,1.0,Man,white,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
2,71.0,2.0,Man,black,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0
3,91.0,3.0,Man,latino hispanic,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
4,101.0,4.0,Man,asian,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0

In [93]:
df_movie_3 = df_movie_2.groupby('frame_number').sum()
df_movie_3['face_count'] = df_movie_3['man'] + df_movie_3['woman']

In [94]:
df_movie_3

,face_id,man,woman,asian,black,indian,latino hispanic,middle eastern,white,women_of_color,face_count
frame_number,,,,,,,,,,,
31.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,1.0
51.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,1.0
71.0,2.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,1.0
91.0,3.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,1.0
101.0,4.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
9711.0,2327.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0,2.0
9731.0,7005.0,4.0,2.0,0.0,3.0,0.0,0.0,0.0,3.0,1,6.0
9741.0,3516.0,2.0,1.0,0.0,2.0,0.0,0.0,0.0,1.0,0,3.0
9761.0,1174.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,1.0
9771.0,1175.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,1.0

In [118]:
only_men = len(df_movie_3[df_movie_3['woman']==0])
only_women = len(df_movie_3[df_movie_3['man']==0])

In [121]:
dict_stats = {'total_frames': [len(df_movie_3)], 'total_seconds': [len(df_movie_3)/2],
              'total_faces': [df_movie_3['face_count'].sum()],
              'total_men': [df_movie_3['man'].sum()],             
              'total_women': [df_movie_3['woman'].sum()],
              'total_asian': [df_movie_3['asian'].sum()],
              'total_black': [df_movie_3['black'].sum()],
              'total_indian': [df_movie_3['indian'].sum()],
              'total_latino_hispanic': [df_movie_3['latino hispanic'].sum()],
              'total_middle_eastern': [df_movie_3['middle eastern'].sum()],
              'total_white': [df_movie_3['white'].sum()],
              'total_women_of_color': [df_movie_3['women_of_color'].sum()],
              'only_men': only_men, 'only_women': only_women}

In [122]:
dict_stats

{'total_frames': [687],
 'total_seconds': [343.5],
 'total_faces': [1176.0],
 'total_men': [954.0],
 'total_women': [222.0],
 'total_asian': [103.0],
 'total_black': [72.0],
 'total_indian': [7.0],
 'total_latino_hispanic': [98.0],
 'total_middle_eastern': [96.0],
 'total_white': [800.0],
 'total_women_of_color': [37],
 'only_men': 483,
 'only_women': 58}

In [123]:
df_stats = pd.DataFrame.from_dict(dict_stats)

In [124]:
df_stats

,total_frames,total_seconds,total_faces,total_men,total_women,total_asian,total_black,total_indian,total_latino_hispanic,total_middle_eastern,total_white,total_women_of_color,only_men,only_women
0,687,343.5,1176.0,954.0,222.0,103.0,72.0,7.0,98.0,96.0,800.0,37,483,58

In [126]:
# gender screentime

man_screentime = df_stats['total_men']/df_stats['total_faces']*100
woman_screentime = df_stats['total_women']/df_stats['total_faces']*100
only_men = df_stats['only_men']/df_stats['total_frames']*100
only_women = df_stats['only_women']/df_stats['total_frames']*100

print(man_screentime)
print(woman_screentime)
print(only_men)
print(only_women)

0    81.122449
dtype: float64
0    18.877551
dtype: float64
0    70.305677
dtype: float64
0    8.442504
dtype: float64

In [127]:
# race screentime

asian_screentime = df_stats['total_asian']/df_stats['total_faces']*100
black_screentime = df_stats['total_black']/df_stats['total_faces']*100
indian_screentime = df_stats['total_indian']/df_stats['total_faces']*100
latino_hispanic_screentime = df_stats['total_latino_hispanic']/df_stats['total_faces']*100
middle_eastern_screentime = df_stats['total_middle_eastern']/df_stats['total_faces']*100
white_screentime = df_stats['total_white']/df_stats['total_faces']*100
print(asian_screentime)
print(black_screentime)
print(indian_screentime)
print(latino_hispanic_screentime)
print(middle_eastern_screentime)
print(white_screentime)

0    8.758503
dtype: float64
0    6.122449
dtype: float64
0    0.595238
dtype: float64
0    8.333333
dtype: float64
0    8.163265
dtype: float64
0    68.027211
dtype: float64